body {
  background-color: lightcyan;
}

img {
  width: 100px;
  height: auto;
  border: yellow solid 2px;
  border-radius: 3%;
  box-shadow: 5px 5px 2px orange;
}


div.results{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;

}

label{
  display:block;
}

.form-group p{
  color:blue;
  margin-bottom: 2px;
}

div.container{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: beige;

}

div.well{
  background-color: bisque;
  margin-top: 5px;
}

form {
  margin: 15px;
}

div.results-explainer{
  display:flex;
  flex-direction: column;
  margin: 15px;
  display:none;
  border: solid orange 1px;
  
}

div.results-explainer img{
  width: 40px;
  height: auto;
  margin-left: 5px ;
}


div.title-image{
  display:flex;
  align-items: center;
}

div.result-explainer-exit{
  position: absolute;
  right:0;
  top: 0;
  border: .5px black solid;
  line-height: 9px;
  
}

