body {
  background-color: lightcyan;
}

img {
  width: 100px;
  height: auto;
  border: yellow solid 2px;
  border-radius: 3%;
  box-shadow: 5px 5px 2px orange;
}


div.results{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;

}

label{
  display:block;
}

.form-group p{
  color:blue;
  margin-bottom: 2px;
}

div.container{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: beige;

}

div.well{
  background-color: bisque;
  margin-top: 5px;
}

form {
  margin: 15px;
}