img {
  width: 100px;
  height: auto;
  border: green solid 2px;
  border-radius: 3%;
}

div.results{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;

}

label{
  display:block;
}

.form-group p{
  color:blue;
  margin-bottom: 2px;
}

